@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-dark: #566246;
    --main-light: #F7F2CA;
    --neutral-dark: #1F1F1F;
    --neutral-light: #F1F1F1;
}

.ContactUs_Content{
    display:flex;
    margin-top:200px;
    margin-left:80px;
    margin-right:80px;
}
.ContactUs_LeftContent{
    display:flex;
    flex-direction:column;
}
.ContactUs_Header{
    font-family:'Inter',sans-serif;
    font-weight:600;
    font-size:40px;
}
.ContactUs_Header2{
    font-family:'Inter',sans-serif;
    font-weight:400;
    font-size:25px;
    margin-top:20px;
}
.TextBox_Container{
    margin-top:40px;
}
.NamaLengkap_Container , .Email_Container , .PesanAnda_Container{
    display:flex;
    flex-direction:column;
    margin-top:20px;
}
.NamaLengkap_TxtBox, .Email_TxtBox, .PesanAnda_TxtBox{
    width:650px;
    height:50px;
    border-radius:12px;
    border: 0.5px solid;    
    text-indent:15px;
}

::placeholder{
    text-indent:15px;
}

.PesanAnda_TxtBox{
    height:200px;
    
}
.PesanAnda_TxtBox::placeholder{
    position:absolute;
    top:10px;
    left:0px;
}

.NamaLengkap_Text, .Email_Text, .PesanAnda_Text {
    font-family: 'Inter',sans-serif;
    font-weight:500;
    font-size:20px;
    margin-bottom:10px;
}

.Submit_Btn {
    margin-top: 70px;
    align-items: center;
    align-content: center;
    text-align: center;
    
}
.KirimPesan_Btn {
    text-align: center;
    align-content: center;
    background-color: #566246;
    border: 0px;
    width: 500px;
    height: 60px;
    border-radius: 12px;
    font-family: 'Inter',sans-serif;
    font-weight:600;
    font-size:20px;
    color:white;
}

.ContactUs_RightContent{
    display:flex;
}

.ContactUs_Pic{
    display:flex;
    position:relative;
    z-index:-10;
    width:505px;
    height:800px;
}
