@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');

* {
    margin: 0;
    padding: 0;
}

:root {
    --main-dark: #566246;
    --main-light: #F7F2CA;
    --neutral-dark: #1F1F1F;
    --neutral-light: #F1F1F1;
}

.ThankYouPage_Container{
    margin-top:200px;
    height:400px;
    align-items:center;
    align-content:center;
    justify-content:center;
    text-align:center;
    margin-bottom:210px;
}
.ThankYouPage_Text{
    display:flex;
    flex-direction:column;
    gap:20px;

}
.QuickEV_LOGO_ThankYou {
    width: 150px;
    height: 40px;
    text-align:center;
    align-content:center;
    align-self:center;
}
.Checked_logo {
    width: 200px;
    height: 150px;
    text-align: center;
    align-content: center;
    align-self: center;
}
.ThankYou_Text1{
    font-family:'Inter',sans-serif;
    font-weight:700;
    font-size:30px;
}
.ThankYou_Text2 {
    font-family: 'Inter',sans-serif;
    font-weight: 500;
    font-size: 15px;
}
.GoHome_Btn {
    border: none;
    background-color: #566246;
    width: 150px;
    height: 40px;
    border-radius: 20px;
    color: #F7F2CA;
    font-weight:800;
}